<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>The Ultimate Sales Page</title>

	<!-- Plugin CSS -->
	<link rel="stylesheet" type="text/css" href="static/plugin/bootstrap/css/bootstrap.min.css">
	
	
	<link rel="stylesheet" type="text/css" href="static/plugin/animate/animate.min.css">
	<link rel="stylesheet" type="text/css" href="static/plugin/font-awesome/css/font-awesome.css">
	<link href="vendor/froala/css/froala_editor.pkgd.min.css" rel="stylesheet"> 	

	<!-- / -->
	<!-- Theme Style -->
	<link rel="stylesheet" type="text/css" href="static/css/styles.css">
	<!-- / -->

	<!-- favicon  -->
	<link rel="icon" href="favicon.ico">



	
</head>
<body>
	

	<!-- Header -->
	<header>
		<div class="container">
		<nav class="navbar navbar-expand-lg header-nav fixed-top">
			<!-- Brand -->
        <a class="navbar-brand" href="/"><%= config.sitename %></a>
        <!-- / -->
			<button class='navbar-toggler' data-toggle='collapse' data-target='#navbar' id="mobile-menu" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
					<span></span>
            		<span></span>
            		<span></span>	
				</button>

			<div class="container">
				<div class="navbar-collapse collapse justify-content-end" id="navbar">
					<ul class="navbar-nav">
						<li><a href="/" class="nav-link" title="Main Artitcle">MAIN ARTICLE</a></li>
						<li class="sm-screen-only"><a href="#testimonies" class="nav-link" title="Testimonies">TESTIMONIES</a></li>
						<li><a class="nav-link btn" title="Buy Now" style="background-color: white;color:black;padding : 10px" href="/pay">BUY NOW</a></li>
						
					</ul>
				</div>
			</div>
		</nav>
	</div>
	</header>
	<!-- / -->

	<!-- Main -->
	<main class="main">