<!-- Jeffy Sales Page by JEFFERY SELLY, Get full product(Front & Backend) with payment gateway(paystack) installed. Call +2347035142317 or @facebook https://free.facebook.com/profile.php?id=100006996588835 -->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>The Ultimate Sales Page</title>

	<!-- Plugin CSS -->
	<link rel="stylesheet" type="text/css" href="static/plugin/bootstrap/css/bootstrap.min.css">
	
	<link rel="stylesheet" type="text/css" href="static/plugin/jeffy/jeffy.css">
	<link rel="stylesheet" type="text/css" href="static/plugin/animate/animate.min.css">

	<!-- / -->
	<!-- Theme Style -->
	<link rel="stylesheet" type="text/css" href="static/css/styles.css">
	<!-- / -->

	<!-- favicon  -->
	<link rel="icon" href="favicon.ico">

	
</head>
<body>
<div class="error-page">
	<h1>404 ERROR</h1>
	<hr>
	<p>An error Occured. We are trying to fix it, Please try again.</p>
	

	<p><img src="static/img/fix-image.jpg"></p>

</div>

<footer>
	<div class="text-center">Contact support at <span class="green">+2347035142317</span> if the problem persists.</div>
</footer>
</body>
</html>