<!-- Jeffy Sales Page by JEFFERY SELLY, Get full product(Front & Backend) with payment gateway(paystack) installed. Call +2347035142317 or @facebook https://free.facebook.com/profile.php?id=100006996588835 -->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>The Ultimate Sales Page</title>

	<!-- Plugin CSS -->
	<link rel="stylesheet" type="text/css" href="static/plugin/bootstrap/css/bootstrap.min.css">
	
	<link rel="stylesheet" type="text/css" href="static/plugin/jeffy/jeffy.css">
	<link rel="stylesheet" type="text/css" href="static/plugin/font-awesome/css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="static/plugin/animate/animate.min.css">

	<!-- / -->
	<!-- Theme Style -->
	<link rel="stylesheet" type="text/css" href="static/css/styles.css">
	<!-- / -->

	<!-- favicon  -->
	<link rel="icon" href="favicon.ico">

	
</head>
<body>
<div class="success-page">
	<section>
		<p><span style="background-color : #f2f2f2;border-radius : 50px;padding :10px;" class="green"><i class="fa fa-check fa-lg"></i></span></p>
	
		<p>Your Payment has been Seen and Processed, check email for transaction details</p>
		<br>
		<h2><span class="green">SUCCESS</span></h2>
	</section>

	<section style="background-color: #f2f2f2;padding : 10px">
		<p><i class="fa fa-smile-o fa-5x"></i></p>
		You have access to this page for less than 3hours. Please download with the button below.
	</section>

	<section>
		<br>
		<a href="download"><button class="btn btn-info btn-lg"> Download </button></a>
	</section>
</div>

<footer class="text-center">
	<!-- display contact info -->
	<span class="green">Inquiries ? </span><i class="fa fa-phone-square"></i> GSM : <%= config.phoneNumber %>  |  <i class="fa fa-envelope"> </i> Mail : <%= config.email %>
</footer>
</body>
</html>